<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabalho_Prova.Properties.Settings.DB_TrabalhoConnectionString"
            connectionString="Data Source=DESKTOP-HFG0EHE\SQLEXPRESS;Initial Catalog=DB_Trabalho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>